<ion-view title="Home">
<ion-content padding="true">

    <div class="list">

        <a class="item item-icon-right" ng-click="askquestion()">
            <i class="icon ion-camera"></i>
            שאל שאלה
        </a>

        <a class="item item-icon-right" ng-click="hotquestions()">
            <i class="icon ion-chatbubble-working"></i>
            שאלות חמות

        </a>

        <a class="item item-icon-right" href="#">
            <i class="icon ion-ios7-help-empty"></i>
            תגידו זה נכון?
        </a>

        <a class="item item-icon-right" href="#">
            <i class="icon ion-person-stalker"></i>
            שאלות ותשובות

        </a></div>

    
</ion-content>
</ion-view>