<ion-pan class="gradientbackground">

    <div class="blockPosition">
        <div class="button movingBlock"><br /><br /><b>תשובות</b></div>
        
    </div>

    <div class="blockPosition2">
        <div class="button movingBlock2"><br /><br /><b>אתגרים</b></div>
    </div>

    <div class="blockPosition3">
        <div class="button movingBlock3"><br /><br/><b>שאל שאלה</b></div>
    </div>

    <!--<div class="list">

        <a class="item item-icon-right" ng-click="askquestion()">
            <i class="icon ion-camera"></i>
            שאל שאלה
        </a>

        <a class="item item-icon-right" ng-click="hotquestions()">
            <i class="icon ion-chatbubble-working"></i>
            שאלות חמות

        </a>

        <a class="item item-icon-right" href="#">
            <i class="icon ion-ios7-help-empty"></i>
            תגידו זה נכון?
        </a>

        <a class="item item-icon-right" href="#">
            <i class="icon ion-person-stalker"></i>
            שאלות ותשובות

        </a></div>-->

    
</ion-pan>