/* Add your own CSS if you like */
body {
	direction:rtl;
}

.imgbackground
{
    background-image: url("../img/main.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    height:200px;
    width:200px;
    margin: 0 auto;
}