/* Add your own CSS if you like */
body {
	direction:rtl;
}

.imgbackground
{
    background-image: url("../img/main.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size:cover;
    height:200px;
    width:200px;
    margin: 0 auto;
}

a{
    text-align:center;
}
/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.bar.bar-transparent {
  background-color: transparent;
  background-image: none;
  border: none;
}

.bar .title {
  color: #eee;
}

.swipe-cards {
  position: fixed;
}

.swipe-card {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 50%;
  top: 35%;
  width: 300px;
  height: 500px;
  margin-left: -150px;
  margin-top: -150px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.swipe-card .title {

  color: #444;
}
.swipe-card .image {
  overflow: hidden;
  /*max-height: 210px;*/
}
.swipe-card .button {
  border: none;
}
.swipe-card .image img {
  width: 100%;
  height:400px;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;  
  height: 400px;
  word-wrap: break-word;
  text-align: center;
background: -webkit-linear-gradient(#81a5ee, #bccff6); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#81a5ee, #bccff6); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#81a5ee, #bccff6); /* For Firefox 3.6 to 15 */
background: linear-gradient(#81a5ee, #bccff6); /* Standard syntax */
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

#footer .button {
  color: #fff;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

.swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
  -webkit-animation: bounceIn 0.3s ease-out;
}
body{
 background:#ccc; 
}

/*  Animation  */
.blockPosition{
position:fixed;
top:250px;
left:20px;
}

.movingBlock
{
    background-image:url("../img/qaa.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    width:120px;
    height:120px;
    position:relative;
    opacity:.8;
    animation:boxes1 5s;
    -moz-animation:boxes1 5s; /* Firefox */
    -webkit-animation:boxes1 5s; /* Safari and Chrome */
    -o-animation:boxes1 5s; /* Opera */
    z-index:-999;
}



@keyframes boxes1
{
0%   {left:100px; top:0px;}

100% { left:0px; top:0px;}
}

@-moz-keyframes boxes1 /* Firefox */
{
0%   { left:100px; top:0px;}

100% { left:0px; top:0px;}
}

@-webkit-keyframes boxes1 /* Safari and Chrome */
{
0%   { left:100px; top:0px;}

100% {left:0px; top:0px;}
}

@-o-keyframes boxes1 /* Opera */
{
0%   {left:100px; top:0px;}

100% {left:0px; top:0px;}
}

/* Animation 2 */

.blockPosition2{
position:fixed;
top:250px;
left:220px;
}

.movingBlock2
{
    background-image:url("../img/ua.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    width:120px;
    height:120px;
    position:relative;
    animation:boxes2 5s;
    -moz-animation:boxes2 5s; /* Firefox */
    -webkit-animation:boxes2 5s; /* Safari and Chrome */
    -o-animation:boxe2s 5s; /* Opera */
    opacity:.8;
    z-index:-999;
}


@keyframes boxes2
{
0%   { right:200px; top:0px;}

100% { right:0px; top:0px;}
}

@-moz-keyframes boxes2 /* Firefox */
{
0%   {right:200px; top:0px;}

100% {right:0px; top:0px;}
}

@-webkit-keyframes boxes2 /* Safari and Chrome */
{
0%   { right:200px; top:0px;}

100% { right:0px; top:0px;}
}

@-o-keyframes boxes2 /* Opera */
{
0%   { right:200px; top:0px;}

100% { right:0px; top:0px;}
}

/*  Animation 3 */


.blockPosition3{
position:fixed;
top:80px;
left:120px;
}

.movingBlock3
{
    background-image:url("../img/camera_icon_1.jpeg");
    background-size:contain;
    background-repeat:no-repeat;
    width:120px;
    height:120px;
    position:relative;
    z-index:-999;
    opacity:.8;
    animation:boxes3 5s;
    -moz-animation:boxes3 5s; /* Firefox */
    -webkit-animation:boxes3 5s; /* Safari and Chrome */
    -o-animation:boxes3 5s; /* Opera */
}



@keyframes boxes3
{
0%   { right:100px; top:0px;}

100% {right:0px; top:0px;}
}

@-moz-keyframes boxes3 /* Firefox */
{
0%   { right:100px; top:0px;}

100% { right:0px; top:0px;}
}

@-webkit-keyframes boxes3 /* Safari and Chrome */
{
0%   { right:100px; top:0px;}

100% {right:0px; top:0px;}
}

@-o-keyframes boxes3 /* Opera */
{
0%   {right:100px; top:0px;}

100% {right:0px; top:0px;}
}

.gradientbackground
{
    background: -webkit-linear-gradient(blue, white); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(blue, white); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(blue, white); /* For Firefox 3.6 to 15 */
background: linear-gradient(blue, white); /* Standard syntax */
}