<ion-view>
    <ion-header-bar align-title="right" class="bar-positive">
        <h1 class="title">הרשמה - המשך</h1>
    </ion-header-bar>
    <ion-content style="direction:rtl;margin-top:30px;">
        <div class="list">
            <label class="item item-input lbl">
                <input type="text" placeholder="מוסד לימודים" ng-model="user.university">
            </label>
            <br />
            <label class="item item-input lbl">
                <input type="text" placeholder="קורסים נוכחיים" ng-model="user.courses">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signUp(user)">
                הרשם
            </button>
        </div>
    </ion-content>
</ion-view>