<ion-view>
    <ion-header-bar align-title="right" class="bar-positive">
        <h1 class="title">הרשמה</h1>
    </ion-header-bar>
    <ion-content style="direction:rtl;margin-top:30px;"> 
        <div class="list">
            <label class="item item-input lbl">
                <i class="ion-person"></i>
                <input type="text" placeholder="שם משתמש" ng-model="user.username">
            </label>
            <br />
            <label class="item item-input lbl">
                <i class="ion-email"></i>
                <input type="text" placeholder="אימייל" ng-model="user.email">
            </label>
            <br />
            <label class="item item-input lbl">
                <i class="ion-locked"></i>
                <input type="password" placeholder="סיסמה" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="continueSignUp(user)">
                המשך
            </button>
        </div>
    </ion-content>
</ion-view>